<div>
	<div class="pull-right" ng-hide="$root.site.announcement==''">
		<span style="color:red;" class="glyphicon glyphicon-bullhorn"></span>
		<span>{{$root.site.announcement}}</span>
	</div>
	<h2>云端计算开放平台</h2>
	<hr>
	<div class="plugin">
		<a class="plugin-box">
			<div class="plugin-title"><table><tr><td>云端计算开放平台云端计算开放平</td></tr></table></div>
			<div class="plugin-author">AUTHOR</div>
		</a>
		<div class="plugin-box">
			<div class="plugin-title"><table><tr><td>云端计算开放平台云端计算开放平</td></tr></table></div>
			<div class="plugin-author">AUTHOR</div>
		</div>
		<div class="plugin-box">
			<div class="plugin-title"><table><tr><td>云端计算开放平台云端计算开放平</td></tr></table></div>
			<div class="plugin-author">AUTHOR</div>
		</div>
		<div class="plugin-box">
			<div class="plugin-title"><table><tr><td>云端计算开放平台云端计算开放平</td></tr></table></div>
			<div class="plugin-author">AUTHOR</div>
		</div>
		<div class="plugin-box">
			<div class="plugin-title"><table><tr><td>云端计算开放平台云端计算开放平</td></tr></table></div>
			<div class="plugin-author">AUTHOR</div>
		</div>
		<div class="plugin-box">
			<div class="plugin-title"><table><tr><td>云端计算开放平台云端计算开放平</td></tr></table></div>
			<div class="plugin-author">AUTHOR</div>
		</div>
		<div class="plugin-box">
			<div class="plugin-title"><table><tr><td>云端计算开放平台云端计算开放平</td></tr></table></div>
			<div class="plugin-author">AUTHOR</div>
		</div>
		<div class="clr"></div>
	</div>
</div>