<table class="table table-bordered">
	<tr>
		<th>#</th>
		<th width="70px">uid</th>
		<th>folder</th>
		<th width="150px">cover</th>
		<th>name</th>
		<th>author</th>
		<th width="200px">git</th>
		<th width="100px">clone</th>
		<th><span class="glyphicon glyphicon-eye-open"></span></th>
		<th width="30px"></th>
	</tr>
	<tr ng-repeat="plugin in plugins">
		<td>{{plugin.pid}}</td>
		<td>{{plugin.uid}}</td>
		<td>{{plugin.folder}}</td>
		<td><input type="text" class="form-control input-sm" ng-model="plugin.cover"></td>
		<td><input type="text" class="form-control input-sm" ng-model="plugin.name"></td>
		<td><input type="text" class="form-control input-sm" ng-model="plugin.author"></td>
		<td><input type="text" class="form-control input-sm" ng-model="plugin.git"></td>
		<td ng-init="plugin.gitStatus=plugin.gitStatus+''">
			<select class="form-control input-sm" ng-model="plugin.gitStatus">
				<option value="0">Never</option>
				<option value="1">Done</option>
				<option value="2">Waiting</option>
				<option value="3">Cloning</option>
				<option value="4">Error</option>
			</select>
		</td>
		<td><input type="checkbox" ng-model="plugin.available"></td>
		<td><button type="button" class="btn btn-xs btn-primary" ng-click="modify(plugin)"><span class="glyphicon glyphicon-floppy-saved"></span></button></td>
	</tr>
	<tr>
		<td>+</td>
		<td><input type="number" class="form-control input-sm" ng-model="newItem.uid" min="1"></td>
		<td><input type="text" class="form-control input-sm" ng-model="newItem.folder" placeholder="folder"></td>
		<td><input type="text" class="form-control input-sm" ng-model="newItem.cover" placeholder="/plugin/1/folder/logo.png"></td>
		<td><input type="text" class="form-control input-sm" ng-model="newItem.name" placeholder="name"></td>
		<td><input type="text" class="form-control input-sm" ng-model="newItem.author" placeholder="author"></td>
		<td><input type="text" class="form-control input-sm" ng-model="newItem.git" placeholder="git@github.com:xxx.git"></td>
		<td>
			<select class="form-control input-sm" disabled>
				<option>Never</option>
			</select>
		</td>
		<td><input type="checkbox" ng-model="newItem.available" disabled></td>
		<td><button type="button" class="btn btn-xs btn-danger" ng-click="new()"><span class="glyphicon glyphicon-plus"></span></button></td>
</table>