<table class="table table-bordered">
	<tr>
		<th>#</th>
		<th>插件</th>
		<th>
			<select class="form-control input-sm" ng-model="search.user">
				<option value="0">只看自己</option>
				<option value="-1">所有人</option>
			</select>
		</th>
		<th>
			<select class="form-control input-sm" ng-model="search.public">
				<option value="-1">公开性</option>
				<option value="0">PLUBLIC</option>
				<option value="1">PASSWORD</option>
				<option value="2">PRIVATE</option>
			</select>
		</th>
		<th>
			<select class="form-control input-sm" ng-model="search.status">
				<option value="-1">状态</option>
				<option value="0">Queueing - 排队中</option>
				<option value="1">Computing - 计算中</option>
				<option value="2">Done - 计算完成</option>
				<option value="3">Warning - 数据有误</option>
				<option value="4">Cancelled - 计算被取消</option>
				<option value="5">Error - 计算过程中发生系统错误</option>
			</select>
		</th>
		<th>操作</th>
	</tr>
	<tr ng-repeat="calculation in calculations">
		<td>{{calculation.cid}}</td>
		<td><a ui-sref="tool({toolId: calculation.pid})">{{calculation.pluginname}}</a></td>
		<td>{{calculation.username}}</td>
		<td>
			<span ng-show="calculation.public && calculation.password === ''" class="text-success">
				<span class="glyphicon glyphicon-ok"></span>
				<span>PUBLIC</span>
			</span>
			<span ng-show="calculation.public && calculation.password !== ''" class="text-warning">
				<span class="glyphicon glyphicon-lock"></span>
				<span>PASSWORD</span>
			</span>
			<span ng-show="!calculation.public" class="text-danger">
				<span class="glyphicon glyphicon-remove"></span>
				<span>PRIVATE</span>
			</span>
		</td>
		<td><span ng-class="{'text-info': calculation.status===0,'text-primary': calculation.status===1,'text-success': calculation.status===2,'text-warning': calculation.status===3,'text-muted': calculation.status===4,'text-danger': calculation.status===5}">{{calculation.statusStr}}</span></td>
		<td><a ui-sref="calculation.show({calcId: calculation.cid})"><button class="btn btn-xs btn-default"><span class="glyphicon glyphicon-eye-open"></span></button></a></td>
	</tr>
</table>